{% extends 'base.html' %}
{% load static %} 

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/blog.css' %}" />
{% endblock css_files %} 



{% block title %}
    <title>¡Bienvenidos a mi blog!</title>
{% endblock title %} 

{% block main_content %}

<section class="heroBanner ">
  <h1 class="text-center py-3 mb-3">Bienvenidos al inicio de mi blog!</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center">
        <img class="heroBanner__img" src="{% static 'blog/img/yo.jpg' %}" alt="imagen del dueño" >
        <p class="text-light">Stefano Chiarelli</p>
      </div>
      <div class="col-sm-12 col-md-6  d-flex flex-column justify-content-center heroBanner__descr">
        <h3 class="mb-3">Como aprendi desarrolo web con Django</h3>
        <p>En este blog te enseñare como fui de cero a experto <br> en este framework maravilloso que es Django</p>
      </div>
    </div>
  </div>
</section>

<div class="container cards">
  
  <h3 class="text-center fs-1 py-3"> Conoce mis ultimos posteos </h3>
  <div class="row">
    {% comment %} <div class="col d-flex justify-content-center my-3">
      {% include 'blog/includes/post.html' %}
    </div> {% endcomment %}

    {% for post in lista %}
      <div class="col d-flex justify-content-center my-3">
        {% include 'blog/includes/post.html' %}
      </div>
    {% endfor %}
    
</div>
  </div>
</div>



{% endblock main_content %}
